body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #cb997e;
    margin: 0;
    padding: 0;
    color: white;
}

.title {
    margin-block-end: 0;
}

.navbar {
    color: white;
    align-items: center;
    font-weight: 700;
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    background-color: #6d6875;
    margin-bottom: 2em;
}

.container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

.textInput {
    -webkit-appearance: none;
    font-size: large;
    text-align: center;
    color: #7f7875;
    font-weight: 700;
    width: 6em;
    align-items: center;
    border-style: solid 2px;
    border-radius: 5px;
    background-color: #eddcd2;
}

.textInput:hover {
    -webkit-writing-mode: none;
    -webkit-rtl-ordering: none;
    -webkit-appearance: none;
}

.button {
    font-size: larger;
    border-style: none;
    font-weight: 600;
    color: white;
    background-color: #a5a58d;
    border-radius: 5px;
}

.ulist {
    margin-block-start: 0;
    padding-inline-start: 0;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    border: 3px solid #6d6875;
    list-style: none;
}

.ulist li {
    margin: 0.5em;
}